<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass_Manager</title>
</head>
<body>
    <h3>Форма для сохранения паролей</h3>
    <form action="{% url 'manager' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title"> - название учетки<br>
        <input type="email" name="email"> - email<br>
        <input type="password" name="password"> - пароль<br>
        <button>Сохранить</button><br>
    </form>
    <p>Выберите учетку:</p>
    <form action="{% url 'manager' %}" method="GET">
    <input list="my_passwords" name="query">
    <datalist id="my_passwords">
        {% for i in data %}
        <option value="{{ i.title }}">
        {% endfor %}
    </datalist>
    <button>Показать пароль</button>
    </form>
    {% if query_data %}
    {% for item in query_data %}
    <p>Название учетной записи: {{ item.title }}</p>
    <p>Email: {{ item.email }}</p>
    <p>Пароль: {{ item.password }}</p>
    {% endfor %}
    {% endif %}
</body>
</html>